/* src/App.css */
.App {
  text-align: center;
}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
